.canvasArea {
    border: 1px solid black;
}

.buttonArea {
    display: flex;
    margin-bottom: 8px;
}

.control {
    width: 100px;    
    background-color: lightgray;
    border: 1px solid black;
    margin-right: 5px;
    text-align: center;
}

.button {
    padding: 5px 20px;
}

.busy-indicator {
    width: 12px;
    height: 24px;
    background-color: green;
    border: 1px solid black;
    margin-right: 4px;
}

.busy-indicator--busy {
    background-color: red;
}
