<div class="buttonArea">
        <div class="control button" (click)="onSaveButtonClick()">Download</div>
        <div class="control button" (click)="onResetButtonClick()">Reset</div>
        <select class="control" [(ngModel)]="ratio" (ngModelChange)="onRatioChange($event)">
                <option *ngFor="let ratio of ratios" [ngValue]="ratio">{{ratio.displayName}}</option>
        </select>
        <select class="control" [(ngModel)]="resolution" (ngModelChange)="onResolutionChange($event)">
                <option *ngFor="let resolution of resolutions" [ngValue]="resolution">{{resolution.displayName}}</option>
        </select>
</div>
<canvas class="canvasArea" 
        #canvasArea
        (mbTouchMe)="onTouched($event)"
        (mousewheel)="onMouseWheelChrome($event)">
</canvas>
