.canvasArea {
    border: 1px solid black;
}

.buttonArea {
    display: flex;
}

.control {
    width: 100px;    
    background-color: lightgray;
    border: 1px solid black;
    margin-right: 5px;
    text-align: center;
}

.button {
    padding: 5px 20px;
}
